<h1>Your Tags</h1>
<% @tags.each do |tag| %>
  <div class="text">
  <h3 style="color: <%=tag.color%>"><%= tag.name %></h3>
      <% unless tag.shows.empty? %>
        <h4>Shows:</h4>
        <ul>
          <% tag.shows.each do |show|%>
            <li><%= show.name %></li>
          <% end %>
        </ul>
      <% end %>
      <a href="/tags/<%= tag.id %>" class="edit">View</a>
      <a href="/tags/<%= tag.id %>/edit" class="edit">Edit</a>
      <a href="/tags/<%= tag.id %>/delete" class="edit">Delete</a>
  </div>
<% end %>
