<h1><%= @tag.name %></h1>
<% @shows.each do |show| %>
  <section class="show" style="background: <%= show.tags.first ? show.tags.first.color : 'white' %>">
    <h3><%= show.name %></h3>
    <p>Episodes: <%= show.episodes_watched %>/<%= show.episodes %></p>
    <p>Rating: <%= show.rating %>/10</p>
    <p>Tags: </p>
      <% show.tags.each do |tag| %>
        <p style="background: <%= tag.color %>; border: solid;"><%= tag.name %></p>
      <% end %>
    <a href="/shows/<%= show.id %>/edit">Edit Show</a>
  </section>
<% end %>
