<h1>Your Categories</h1>
<% @categories.each do |category| %>
  <section style="background: <%=category.color%>">
    <div class="text">
      <h3><%= category.name %></h3>
      <% unless category.shows.empty? %>
        <p>Shows: </p>
      <% end %>
      <% category.shows.each do |show|%>
        <p class="show"><%= show.name %></p>
      <% end %>
      <a href="/categories/<%= category.id %>/edit" class="edit">Edit</a>
      <a href="/categories/<%= category.id %>/delete" class="edit">Delete</a>
    </div>
  </section>
<% end %>
