<h1>Your Categories</h1>
<% @categories.each do |category| %>
  <div class="text">
  <h3 style="color: <%=category.color%>"><%= category.name %></h3>
      <% unless category.shows.empty? %>
        <h4>Shows:</h4>
        <ul>
          <% category.shows.each do |show|%>
            <li><%= show.name %></li>
          <% end %>
        </ul>
      <% end %>
      <a href="/categories/<%= category.id %>" class="edit">View</a>
      <a href="/categories/<%= category.id %>/edit" class="edit">Edit</a>
      <a href="/categories/<%= category.id %>/delete" class="edit">Delete</a>
  </div>
<% end %>
