<h1>Edit Show</h1>
<form method="POST" action="/shows/<%= @show.id %>">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <label>Show Name: <input type="text" name="show[name]" value="<%= @show.name %>"></label>
  <br>
  <label>Number Of Episodes: <input type="number" name="show[episodes]" value="<%= @show.episodes%>"></label>
  <br>
  <label>Number Of Episodes Seen: <input type="number" name="show[episodes_watched]" value="<%= @show.episodes_watched %>"></label>
  <br>
  <label>Rating (From 1 to 10): <input type="number" name="show[rating]" min="1" max="10" value="<%= @show.rating %>"></label>
  <br>
  <h3>Select Category</h3>
  <% @categories.each do |category| %>
    <label><input type="radio" name="show[category_id]" value="<%= category.id %>" <%= 'checked' if @show.category == category %>><%= category.name %></label>
    <br>
  <% end %>
  <h3>Or Create A new Category</h3>
  <label>Category Name: <input type="text" name="category[name]"></label>
  <br>
  <label>Category Color: <input type="color" name="category[color]"></label>
  <br>
  <h3>Select Tags</h3>
  <% @tags.each do |tag| %>
    <label><input type="checkbox" name="show[tag_ids][]" value="<%= tag.id %>" <%= 'checked' if @show.tags.include?(tag)%>><%= tag.name %></label>
    <br>
  <% end %>
  <h3>And/or add a new tag</h3>
  <label>Tag Name: <input type="text" name="tag[name]"></label>
  <br>
  <label>Tag Color: <input type="color" name="tag[color]"></label>
  <br>

  <input type="submit" value="Update Show">
</form>
